* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}

header{
    min-height: 15vh;
    background-color: #E4DCCF !important;
}

.logo{
    width: 20vh;
    object-fit: contain;
}

h2{
    color: #576F72;
}

footer{
    min-height: 15vh;
    background-color: #F0EBE3 !important;
}